{% extends "base.html" %}

{% block title %} SportsBuddy{% endblock %}

{%block content%}
<h1>{{sport.name}} Events</h1>

<form>
  <input type="text" placeholder="Search.." name="search"
  {% if search %} value="{{ search }}" {% endif %}
  >
  <button type="submit"><i class="fa fa-search"></i></button>
<a href="{{sport.id}}"><i class="fa fa-undo"></i></a>
</form>



<ul>
    
    {% for event in event_list %}
 
    {%if event.sport.id == sport_id%}
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{event.event_name}}</span>
           
            <p>{{ event.creator.username }} created a {{event.sport.name}} starting at {{event.start_time}} to {{event.end_time}}</p>
          </div>
          <div class="card-action">
            
            <a href="/home/eventsdetail/{{event.id}}">Details View</a>
            {%if not event.creator == user %}
            {%if user in event.interested_users.all%}
            You have already sent a join request to this event
            {%elif user in event.interested_users.all%}
            You have joined this event
            {%else%}
            <a href="/joinRequest/send_join_request/{{event.id}}">Join</a>
            {%endif%}
            {%endif%}
          </div>
    
    {% endif %}
    {% empty %}
    <li>No Events</li> 
    
      <br>
    {% endfor %}
</div>
</ul>
<a href="/home/createevent">Create a new Event</a>
{%endblock%}
