{% extends "base.html" %}

{% block content%}
<h1>Users</h1>

<form>
  <input type="text" placeholder="Search.." name="search"
  {% if search %} value="{{ search }}" {% endif %}
  >
  <button type="submit"><i class="fa fa-search"></i></button>
<a href="{% url 'home:user-list' %}"><i class="fa fa-undo"></i></a>
</form>

<ul>
    {% for user in user_list %}
    {%if request.user == user%}
    {%else%}
    <a href="/friends/view_profile/{{user.id}}"><li>{{user.username}} </li></a>
    {%endif%}
    {% empty %}
    <li>No Users</li>
    {% endfor %}
</ul>
{% endblock %}