<html>
    <head>
       {% load static %}  
    <link href="{% static 'css/bootstrap.css' %}" >  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <title>
            {% block title %}
                SportsBuddy
            {% endblock %}
           
        </title>
    </head>
    <body>
      <nav class="navbar navbar-dark bg-dark" >
      <div class="container align-top">

        <a class="navbar-brand" href="/home">
    {% load static %}
    <img src="/static/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Home
  </a>
        <a class="navbar-brand" href="/createUser/viewProfile" style="margin-left: 0px; margin-right: 0px; float: right;">
          {%if not userprofile.profile_pic%}
        
          <img src="/static/images/user.png" width="30" height="30" class="d-inline-block align-top" alt="">
          {%else%}
          <img src="/static/images/{{userprofile.profile_pic}}" width="30" height="30" class="d-inline-block align-top" alt="">
          {%endif%}
  </a>
  </button>
      </div>

</nav>
      <div class = "container pr-5 ">      
    
    {% block content %}

        {% endblock %}
      </div>

    </body>
</html>