{% extends "base.html" %}

{% block content%}
<html>
    <!---COMMENT-->
<div class="container-fluid">
    <div class="row justify-content-center my-5 text-center">
        
      {%if not userprofile.user in request.user.userprofile.friends_list.all%}
        <div>
    <a class="btn btn-primary" href="/friends/send_friend_request/{{userprofile.user.id}}" role="button">Send Friend Request</a>
        </div>
        {%else%}
        <div>
            You are already Friends
        </div>
        
{%endif%}
    </div>
     <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            {%if userprofile.profile_pic%}
        <img src="/static/images/{{userprofile.profile_pic}}" width="300" height="300" class="d-inline-block align-top" alt=""> 
            {%else%}
        <img src="/static/images/user.png" width="300" height="300" class="d-inline-block align-top" alt=""> 
            {%endif%}     
    </div>

        <div class="col-sm-6 text-center">
        <h1>
        Profile {{userprofile.user}}
    </h1>
    <p>
        UserName : {{userprofile.user}}<br/>
        Bio : {{userprofile.bio}}
    </p>

        </div>
</div>

</div>
    
</html>
{% endblock %}